<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script></head>

<body style="backdrop-filter: rgba(200, 135, 232, 0.5)">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Currency statistics</a>
          </div>
          <ul class="nav navbar-nav">
        
            <li><a href="/settings">Change settings</a></li>
            <li><a href='/statistics'>View statistics</a></li>

          </ul>
        </div>
      </nav>
      <div class="container" style=" margin-top: 20%; justify-content:center;">
        <h1>Welcome to currency statistics:)</h1>
      </div>

</body>
</html>